.todos__heading {
  font-size: 30px;
  color: #fff;
}

.todos__item {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 20px;
  margin-top: 1rem;
  background-image: url(https://img.freepik.com/vetores-gratis/copiar-espaco-gradiente-de-fundo-laranja_23-2148845473.jpg);
  background-size: cover;
  transition: 0.2s;
}

.todos__item:hover {
  box-shadow: 0 0 4px #000;
  transform: scale(1.03);
}

.todos__item--text {
  flex: 1;
  padding:  0 6px;
  border: none;
  font-size: 24px;
}

.todos__item--text:focus {
  outline: none;
}

.todos__item--icon {
  margin-left: 10px;
  margin-top: 6px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .todos__item {
    width: 40%;
  }
}