.container {
  display: flex;
  width: 95%;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.todos {
  display: flex;
  flex-direction: column;
  padding: 14px;
  border-radius: 4px;
  width: 46%;
  flex-wrap: wrap;
  background-color: rgb(50, 195, 205);
}

.completed {
  background-color: rgb(235, 103,80);
}

@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
    margin-bottom: 10px;
  }

  .todos {
    width: 95%;
  }

  .container {
    width: 95%;
    flex-direction: column;
  }
}